<h1 [innerText]="name"></h1>
<img [src]="imgUrl" [class.rounded-circle]="isActive">
<h1 [style.color]="colorName" [class.bg-dark]="isActive" [class.bg-primary]="!isActive">{{address}}</h1>
<table class="table table-dark table-bordered table-striped">
    <thead>
        <tr>
            <th>name</th>
            <th>age</th>
            <th [attr.colspan]="colspanValue">contact number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>mikel</th>
            <th>24</th>
            <th>7687675765</th>
            <th>7687675765</th>
        </tr>
        <tr>
            <th>mikel</th>
            <th>24</th>
            <th>7687675765</th>
            <th>7687675765</th>
        </tr>
        <tr>
            <th>mikel</th>
            <th>24</th>
            <th>7687675765</th>
            <th>7687675765</th>
        </tr>
        <tr>
            <th>mikel</th>
            <th>24</th>
            <th>7687675765</th>
            <th>7687675765</th>
        </tr>
        
    </tbody>
</table>


